{% extends app_base_template %}

{% block main_content %}
<div id="account_section" class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidenav-list">
                <li>
                    <a href="{{url('dashboard_player')}}" class="sidenav-item">Tài khoản người chơi</a>
                </li>
                <li>
                    <a href="{{url('dashboard_admin')}}" class="sidenav-item active">Tài khoản Admin</a>
                </li>
                <li>
                    <a href="{{url('logout')}}" class="sidenav-item">Đăng xuất</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Quản lý
                </div>
                <div class="panel-body">
                    <div class="row mb10">
                        <div class="col-sm-3">
                            <span class="bold">CCU:</span>
                        </div>
                        <div class="col-sm-9">
                            {% if error_message and not ccu %}
                                {{error_message}}
                            {% else %}
                                {{ccu}}
                            {% endif %}
                        </div>
                    </div>
                    {% if test_links %}
                    <div class="row mb10">
                        <div class="col-sm-3">
                            <span class="bold">Test Links:</span>
                        </div>
                        <div class="col-sm-9">
                            {% for test_link in test_links %}
                                <a href="{{test_link.value}}">{{test_link.key}}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="row mb10">
                        <div class="col-sm-3">
                            <span class="bold">Reload Game Data:</span>
                        </div>
                        <div class="col-sm-9">
                            <input type="button" class="btn btn-primary" value="Reload" id="reload_game_btn"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}