{% extends app_base_template %}

{% block main_content %}
<div id="account_section" class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidenav-list">
                <li>
                    <a href="{{url('dashboard_player')}}" class="sidenav-item active">Tài khoản người chơi</a>
                </li>
                {% if is_merchandise %}
                <li>
                    <a href="{{url('dashboard_merchant')}}" class="sidenav-item">Tài khoản đại lý</a>
                </li>
                {% endif %}
                {% if is_admin %}
                <li>
                    <a href="{{url('dashboard_admin')}}" class="sidenav-item">Tài khoản Admin</a>
                </li>
                {% endif %}
                <li>
                    <a href="{{url('logout')}}" class="sidenav-item">Đăng xuất</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Thông tin tài khoản
                </div>
                <div class="panel-body">
                    {% if error_message %}
                        {{error_message}}
                    {% else %}
                        <div class="row mb10">
                            <div class="col-sm-3">
                                <span class="bold">Sakura Coin:</span>
                            </div>
                            <div class="col-sm-9">
                                {{sakura_coin}} coin
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="col-sm-3">
                                <span class="bold">Tình trạng:</span>
                            </div>
                            <div class="col-sm-9">
                                {{account_status}}
                            </div>
                        </div>

                        {% if lock_reason %}
                        <div class="row mb10">
                            <div class="col-sm-3">
                                <span class="bold">Lý do bị khoá:</span>
                            </div>
                            <div class="col-sm-9">
                                {{lock_reason}}
                            </div>
                        </div>
                        <div class="row mb10">
                            <div class="col-sm-3">
                                <span class="bold">Thời gian khoá:</span>
                            </div>
                            <div class="col-sm-9">
                                {{lock_started_at}} - {{lock_ended_at}}
                            </div>
                        </div>
                        {% endif %}

                        <div class="row mb10">
                            <div class="col-sm-3">
                                <span class="bold">Mật khẩu:</span>
                            </div>
                            <div class="col-sm-9">
                                <a href="{{url('change_password')}}">Đổi mật khẩu</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="bold">Thông tin char:</span>
                            </div>
                            <div class="col-sm-9">
                                {% if char_info_list %}
                                    {% for char_info in char_info_list %}
                                        <div class="row mb10">
                                            {{loop.index}}) {{char_info.charName}} - {{char_info.gender}} - Level {{char_info.level}} - {{char_info.charClass}} - {{char_info.country}}
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    Chưa có
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}