{% extends app_base_template %}

{% block main_content %}
<div id="account_section" class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="sidenav-list">
                <li>
                    <a href="{{url('dashboard_player')}}" class="sidenav-item">Tài khoản người chơi</a>
                </li>
                <li>
                    <a href="{{url('dashboard_merchant')}}" class="sidenav-item active">Tài khoản đại lý</a>
                </li>
                <li>
                    <a href="{{url('logout')}}" class="sidenav-item">Đăng xuất</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Tạo mã thanh toán
                </div>
                <div class="panel-body">
                    {% if error_message %}
                        <div class="align-center">{{error_message}}</div>
                    {% else %}
                        <div id="form_section">
                            <form name="form" method="post" action="" class="form-horizontal"> {% csrf_token %}

                                {% if form.non_field_errors() %}
                                    <ul class='errorlist'>
                                        {% for non_field_error in form.non_field_errors() %}
                                            <li>{{ non_field_error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                                <div class="row mb10">
                                    <div class="col-sm-3">
                                        <span class="bold">Số coin đổi:</span>
                                    </div>
                                    <div class="col-sm-9">
                                        {{form.amount}}
                                    </div>
                                </div>

                                <div class="row mb10">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9">
                                        <input type="submit" class="btn btn-primary btn-large" value="Submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div id="code_section">
                            <div class="mb10">
                                <h5>
                                    Lịch sử mã thanh toán
                                </h5>
                            </div>

                            {% if payment_codes %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Serial</th>
                                            <th scope="col">Pin</th>
                                            <th scope="col">Số coin</th>
                                            <th scope="col">Tình trạng</th>
                                            <th scope="col">Thời gian tạo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for payment_code in payment_codes %}
                                        <tr>
                                            <th scope="row">{{loop.index}}</th>
                                            <td>{{payment_code.serial}}</td>
                                            <td>{{payment_code.pin}}</td>
                                            <td>{{payment_code.amount}}</td>
                                            <td>{{payment_code.status}}</td>
                                            <td>{{payment_code.createdAt}}</td>
                                        </tr>
                                        {% endfor %}
                                  </tbody>
                                </table>
                            {% else %}
                                <div class="bold align-center">
                                    Bạn chưa có mã thanh toán nào
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}