{% extends app_base_template %}

{% block main_content %}

<div class='form-section container'>
	<div class="panel panel-default">
		<div class="panel-heading align-center">
			<h4>Tài khoản</h4>
		</div>
		<div class="panel-body">
			<form name="form" method="post" class="form-horizontal mb30"> {% csrf_token %}
				<input type="hidden" name="next" value="{{next}}" />
				<input type="hidden" name="action_type" />
				{% if form.non_field_errors() %}
					<ul class='errorlist'>
						{% for non_field_error in form.non_field_errors() %}
							<li>{{ non_field_error }}</li>
						{% endfor %}
					</ul>
				{% endif %}

				<div class="email-section form-group">
					<div class="row mb5">
						{{form.email.errors}}
					</div>
					<div class="row">
						{{form.email}}
					</div>
				</div>

				<div class="password-section form-group">
					<div class="row mb5">
						{{form.password.errors}}
					</div>
					<div class="row">
						{{form.password}}
					</div>
				</div>

				<div class="form-group">
					<div class="mb10">
						<a href="{{url('reset_password')}}" id="forgot_password_link">Quên mật khẩu</a>
					</div>
					<button onclick="return submitForm('signup')" type="submit" class="btn btn-primary btn-block" id="register_button">Đăng ký</button>
					<button onclick="return submitForm('login')"  type="submit" class="btn btn-success btn-block" id="login_button">Đăng nhập</button>
				</div>

			</form>
		</div>

	</div>
</div>

{% endblock %}