{% extends app_base_template %}

{% block main_content %}
<div class='form-section container'>
	<div class="panel panel-default">
		<div class="panel-heading align-center">
			<h4>Mật khẩu</h4>
		</div>
		<div class="panel-body">
			<form id="password_reset_form" name="password_change_form" method="post" action="{{url('change_password')}}" class="form-horizontal">{% csrf_token %}

				{% if form.non_field_errors() %}
					<ul class='errorlist'>
						{% for non_field_error in form.non_field_errors() %}
							<li>{{ non_field_error }}</li>
						{% endfor %}
					</ul>
				{% endif %}

				<div class="old-password-section form-group">
					<div class="row mini-margin-bottom">
						{{form.old_password.errors }}
					</div>
					<div class="row">
						{{form.old_password}}
					</div>
				</div>

				<div class="password-section form-group">
					<div class="row mini-margin-bottom">
						{{form.password1.errors }}
					</div>
					<div class="row">
						{{form.password1}}
					</div>
				</div>

				<div class="confirm-password-section form-group">
					<div class="row mini-margin-bottom">
						{{form.password2.errors }}
					</div>
					<div class="row">
						{{form.password2}}
					</div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Đổi mật khẩu</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}