{% extends app_base_template %}

{% block main_content %}
<div class='form-section container'>
	<div class="panel panel-default">
		<div class="panel-heading align-center">
			<h4>Khôi phục mật khẩu</h4>
		</div>
		<div class="panel-body">
			<form id="password_reset_form" name="password_reset_form" method="post" action="{{url('reset_password')}}" class="form-horizontal medium-margin-bottom">{% csrf_token %}
				{% if form.non_field_errors() %}
					<ul class='errorlist'>
						{% for non_field_error in form.non_field_errors() %}
							<li>{{ non_field_error }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				<div class="email-section form-group">
					<div class="row mini-margin-bottom">
						{{form.email.errors}}
					</div>
					<div class="row">
						{{form.email}}
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-block btn-primary">Khôi phục</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}