{% extends app_base_template %}

{% block main_content %}
<div id="password_reset_info_session" class='container'>
	<div class="panel panel-default">
		<div class="panel-body">
			{% if email %}

				Chúng tôi đã gửi link khôi phục mật khẩu đến email <b>{{email}}</b>.
				<br/>
				Xin hãy bấm vào link để tiếp tục quá trình khôi phục. Xin cám ơn

			{% else %}

				Chúng tôi đã gửi link khôi phục mật khẩu đến email của bạn.
				<br/>
				Xin hãy bấm vào link để tiếp tục quá trình khôi phục. Xin cám ơn

			{% endif %}
		</div>
	</div>
</div>
{% endblock %}