{% extends app_base_template %}

{% block main_content %}
<div class='form-section container'>
	<div class="panel panel-default">
		<div class="panel-heading align-center">
			<h4>Khôi phục mật khẩu</h4>
		</div>
		<div class="panel-body">
			<form id="password_reset_from_key_form" name="password_reset_from_key_form" method="post" action="{{ request.path }}" class="form-horizontal">{% csrf_token %}
				<div class="form-group">
					<div class="row mini-margin-bottom">
						{{form.password1.errors}}
					</div>
					<div class="row">
						{{form.password1}}
					</div>
				</div>
				<div class="form-group">
					<div class="row mini-margin-bottom">
						{{form.password2.errors}}
					</div>
					<div class="row">
						{{form.password2}}
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-block btn-primary">Khôi phục</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}