#alert_message,
#request_message {
    position: fixed;
	margin-left: auto;
	margin-right: auto;
	font-size:16px;
	font-weight:bold;
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;
	border: 1px solid #cacaca;
	border-radius:0px;
	margin-bottom:0px;
	margin-top:0px;
	z-index:1001;
	width:100%;
}

#alert_message
 {
	display:none;
	top:0px;
}

#alert_message.alert-normal {
	background-color:white;
}

#error_section {
	text-align:center;
   	padding-top:30px;
   	padding-bottom:30px;
}

#error_picture {
	width:700px;
}
