html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

textarea {
	resize: vertical;
}

a {
	cursor: pointer;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}

img.media-object {
    width:16px;
    width:16px;
}

.clear {
	clear: both;
}

.row {
	margin-left:0px;
	margin-right:0px;
}


.default-cursor {
	cursor: default;
}

.pointer-cursor {
	cursor: pointer
}

.link-color {
	color: #08c;
}

.gray-color {
	color: #808080;
}

.white-color {
	color:white;
}

.black-color {
	color: #333;
}

.danger-color {
	color: #da4f49;
}

.success-color {
	color: #5bb75b;
}

.fail-color,
.error-color {
	color: #bd362f;
}

.bold {
	font-weight:bold;
}

.font-normal {
    font-weight:normal;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

.no-underline {
	text-decoration: none;
}

.border-all {
	border: 1px solid #333;
}

.border-right {
	border-right: 1px solid #333;
}

.border-left {
	border-left: 1px solid #333;
}

.border-top {
	border-top: 1px solid #333;
}

.border-bottom {
	border-bottom: 1px solid #333;
}

.no-border {
	border: none;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-left {
	text-align: left;
}

.align-justify {
	text-align: justify;
}

.div-center {
	display: table;
	margin:0 auto;
}

.pos-relative {
	position: relative;
}

.pos-absolute {
	position: absolute;
}

.pos-fixed {
	position: fixed;
}

select {
	background-color: white;
}

input:focus {
	outline:none;
}

label.error {
	color: red;
}

input.error,
textarea.error,
select.error{
	border: 1px solid red;
}

.fa-2 {
	font-size: 1.5em;
}


.panel {
	border: 1px solid #dce0e0;
	box-shadow: none;
	border-radius: 0px;
}

.panel > .panel-heading {
	background-color: #edefed;
    padding: 12px 20px 12px 20px;
    font-size:16px;
    color: #484848;
    border-bottom: 1px solid #dce0e0;
    font-weight:normal;
    border-top:0;
}

.panel > .panel-body {
    margin: 0;
    padding: 20px;
    background-color:white
}

.text-strikethrough {
    position: relative;
    text-align: center;
}

.text-strikethrough .line {
    height: 1px;
    background-color: #F1EEEA;
    width: 90%;
    margin-left: 5%;
}

.text-strikethrough .text {
    display: inline-block;
    background-color: #FFFFFF;
    padding: 5px 10px;
    font-size: 14px;
    top: -16px;
    position: relative;
    color: #3D3D66;
}


.left-half-form {
	width:48% !important;
	margin-right:4%;
	float:left;
}

.right-half-form {
	width:48% !important;
	float:left;
}

.form-section {
    margin:50px auto;
	max-width:400px;
}


.form-section .panel-heading {
	font-weight:bold;
	font-size:14px;
}

.form-section .panel-body{
	padding: 15px 30px 5px 30px;
}

.errorlist {
	color: red;
    margin-bottom: 10px;
}

.form-section > ul.errorlist {
	margin-bottom:10px;
	text-align: center;
}

.error-field {
	color: red;
	font-weight: bold;
}

.error,
.error-notice {
	color: #a94442;
}

.hidden {
    display: none;
}

.mt10 {
    margin-top:10px;
}

.mt5 {
    margin-top:5px;
}

.mb5 {
    margin-bottom:5px;
}

.mb10 {
    margin-bottom:10px;
}

.mb30 {
    margin-bottom:30px;
}

.icon-facebook, .icon-twitter, .icon-instagram, .icon-youtube {
	width: 24px;
	height: 24px;
}
.icon-facebook path, .icon-twitter path, .icon-instagram path, .icon-youtube path {
  fill: #858585;
}

#main_section {
    margin-top:150px;
    flex: 1 0 auto;
}

#main_section #main_nav .floral {
    background: #990000 url("../resources/img/apps/bg-nav-tabs.jpg") repeat-x;
    border-bottom: 0px solid #cd0000;
    font-size: 16px;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    padding: 7px 15px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
    white-space: nowrap;
    text-overflow: ellipsis;
}

#main_section #main_nav .floral.active {
    background: url('../resources/img/apps/news-block-title-1.jpg') no-repeat;
    background-size: 100% 100%;
}

#main_section #main_content {
    background-color: #ede8df;
    margin-bottom: 50px;
}

#main_section #main_download {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#main_section #main_download #download_icon {
    margin: 0 auto;
}

#main_section #main_download a {
    margin-left:5px;
    margin-right:5px;
}

#main_section #main_content .container {
    padding:20px;
}