.footer {
    flex-shrink: 0;
    color: white;
}

.footer .content {
    width:100%;
    margin-bottom: 20px;
}

.footer .content .logo-footer {
     width: 100%;
}

.footer a {
    color: white !important;
}