.Header {
     position: fixed;
     width: 100%;
     top:0px;
     height: 50px;
     z-index: 111;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}
 .Header .Header-bg {
     position: absolute;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.8);
}
 .Header.unfix {
     top: -50px;
}
 .Header.removebg .Header-bg {
     opacity: 0;
}
 .Header.not-fixed {
     overflow: auto;
}
 .Header.removebg {
     height: 100%;
}
 .Header.removebg .Header-bg {
     transition: none !important;
     -webkit-animation-name: fade-in-only;
     animation-name: fade-in-only;
     -webkit-animation-duration: 300ms;
     animation-duration: 300ms;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-direction: normal;
     animation-direction: normal;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
     background-color: #000;
     opacity:0.8;
}
 .Header.removebg .social-media {
     display: none;
}
 @media (min-width: 1024px), (min-width: 1440px) {
     .Header {
         height: 70px;
    }
     .Header .social-media {
         position: absolute;
         top: auto;
         left: 0;
         line-height: 68px;
         display: block;
         padding-left: 30px;
    }
     .Header .social-media a {
         padding: 0 5px;
         transition: opacity 200ms ease-out;
    }
     .Header .social-media a:first-child {
         padding-left: 10px;
    }
     .Header .social-media a.notactive{
         opacity: 0.6;
    }
     .Header .social-media a.active {
         opacity: 1;
    }
     .Header .social-media a svg {
         width: 20px;
         height: 20px;
    }
     .Header .social-media a svg path {
         fill : white;
    }
     .Header.unfix {
         top: -70px;
    }
}
/* =============================================== Hamburger Button =================================================*/
 .Navbar-FixedElements {
     position: fixed;
     width: 100%;
}
 .Navbar-language-button {
     position: relative;
     top: 27px;
     right: -199px;
     color: white;
     z-index:10000;
}
 .Navbar-language-button a{
     cursor:pointer;
     padding:10px;
}
 .Navbar-holder {
     position: relative;
     width: 100%;
}
 .Navbar-hamburger-button {
     position: absolute;
     display: block;
     width: 56px;
     height: 60px;
     top: 0;
     left: inherit;
     right: 0;
     padding: 18px;
     z-index: 10000;
     transition: all 430ms ease-out;
     -webkit-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0);
     cursor: pointer;
}
 .Navbar-hamburger-button.not-fixed {
     top: 0;
}
 .Navbar-hamburger-button .Navbar-hamburger {
     position: relative;
     width: 20px;
     height: 15px;
}
 .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line {
     position: absolute;
     display: block;
     width: 100%;
     height: 3px;
     left: 0;
     background-color: #fff;
     border-radius: 6px;
     -webkit-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0);
     transition: -webkit-transform 200ms ease-out;
     transition: transform 200ms ease-out;
     transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}
 .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line1 {
     top: 0;
}
 .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line2 {
     top: 6px;
}
 .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line3 {
     top: 6px;
}
 .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line4 {
     top: 12px;
}
 .unfix .Navbar-hamburger-button {
     top: -60px;
}
 @media (min-width: 1024px), (min-width: 1440px) {
     .Navbar-hamburger-button {
         padding: 25px;
         width: 78px;
         height: 70px;
    }
     .Navbar-hamburger-button .Navbar-hamburger {
         width: 28px;
         height: 20px;
    }
     .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line {
         height: 4px;
    }
     .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line1 {
         top: 0;
    }
     .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line2 {
         top: 8px;
    }
     .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line3 {
         top: 8px;
    }
     .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line4 {
         top: 16px;
    }
}
 .Navbar-holder {
     position: absolute;
     right: 0;
     z-index:10;
}
 .Navbar-backdrop {
     right: -100%;
     left: inherit !important;
}
 .Navbar-hamburger-button {
     left: inherit;
     right: 0;
}
 .Navbar-logo {
     position: fixed;
     z-index: 10000;
     margin: 0 auto 20px;
     display: block;
     left: 50%;
     margin-left: -57px;
     -webkit-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0);
     transition: all 250ms ease-out;
}
 .Navbar-logo img {
     width: 115px;
     height: auto;
}
 .unfix .Navbar-logo {
     top: -60px;
}
 .Navbar-logo.Navbar-logo-inside{
     position: relative;
     display: block;
     top: -4px;
     margin-left: 0;
     left: 43px;
}
 @media (min-width: 1024px), (min-width: 1440px) {
     .Navbar-logo {
         margin-left: -93px;
    }
     .Navbar-logo img {
         width: 165px;
         height: auto;
    }
}
 .Navbar-logo {
     transition: none;
}
 .Navbar {
     position: fixed;
     text-align: left;
     z-index: 2000;
     left: -100%;
     width: 100%;
     display: block;
     font-family: 'roboto_slabregular';
     -webkit-transform: translate3D(0,0,0);
     transform: translate3D(0,0,0);
}
 .Navbar .Navbar-primarynav > .Navbar-item {
     border-bottom: 1px solid #3b3b3b;
}
 .Navbar .Navbar-primarynav > .Navbar-item:first-child {
     border-top: 1px solid #3b3b3b;
}
 @media (min-width: 600px) and (max-width: 1023px) {
     .Navbar-holder, .Navbar-scroller, .Navbar-backdrop {
         width: 375px;
    }
     .Navbar-holder .Navbar-backdrop, .Navbar-scroller .Navbar-backdrop, .Navbar-backdrop .Navbar-backdrop {
         width: 375px !important;
    }
}
 @media (min-width: 1024px), (min-width: 1440px) {
     .Navbar-holder, .Navbar-scroller, .Navbar-backdrop {
         width: 375px;
    }
     .Navbar-holder .Navbar-backdrop, .Navbar-scroller .Navbar-backdrop, .Navbar-backdrop .Navbar-backdrop {
         width: 375px !important;
    }
}
 .Navbar-backdrop {
     background: rgba(41,41,41,1);
     height: 100%;
     left: -100%;
     position: fixed;
     top: 0;
     width: 100%;
}
 .Navbar-backdrop.animate-out {
     left: inherit;
     right: 0;
     -webkit-animation-name: sneak-out-right;
     animation-name: sneak-out-right;
     -webkit-animation-duration: 370ms;
     animation-duration: 370ms;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-direction: normal;
     animation-direction: normal;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
}
 .Navbar-background {
     position: absolute;
     width: 100%;
     height: 100%;
     overflow: hidden;
     -webkit-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0);
     padding-bottom: 50px;
     padding-top: 50px;
}
 @media (min-width: 1024px), (min-width: 1440px) {
     .Navbar-background {
         padding-top: 70px;
    }
}
 .Navbar-item {
     transition: opacity 200ms ease-out;
}
 .Navbar-item.notactive {
     opacity: 0.5;
}
/* =============================================== Navbar Wrapper =================================================*/
 .Navbar-wrapper {
     position: relative;
     max-width: 1440px;
     margin: 0 auto;
}
/* =============================================== Navbar Overlay =================================================*/
 .Navbar-overlay {
     position: fixed;
     display: none;
     z-index: 1;
     height: 60px;
     width: 100%;
     top: 0;
     left: 0;
     background-color: #292929;
}
 .Navbar-primarynav, .Navbar-secondarynav, .Navbar-download {
     padding: 0 43px;
}
 .Navbar-primarynav {
     position: relative;
     font-family: 'supercell-magicregular',Arial,sans-serif;
     color: #fff;
     text-align: left;
     font-size: 18px;
     line-height: 24px;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}
 .Navbar-primarynav a {
     position: relative;
     color: #ffffff;
     text-decoration: none;
     padding: 27px 0;
     display: block;
     -webkit-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0);
}
 .Navbar-primarynav a.active {
     color: #ff9c00;
}
 .Navbar-primarynav a.Navbar-dropdown-main {
     padding: 0;
}
 .Navbar-secondarynav {
     margin: 28px 0 28px;
}
 .Navbar-secondarynav a {
     font-size: 16px;
     padding: 12px 0;
     text-decoration: none;
     color: #767779;
     display: block;
}
 .Navbar-dropdown {
     padding: 25px 0;
     position: relative;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
}
 .Navbar-dropdown .icon-arrow {
     position: relative;
     width: 12px;
     height: 24px;
     line-height: 70px;
     display: inline-block;
     vertical-align: middle;
     margin-left: 10px;
     opacity: 0.5;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     transition: opacity 150ms ease-out;
     display: none;
}
 .Navbar-dropdown .icon-arrow path {
     fill: #767779;
}
 .Navbar-dropdown ul {
     list-style: none;
     margin: 0 0 0 15px;
     padding: 0;
     max-height: 0;
     overflow: hidden;
     -webkit-transform: translate3d(0,0,0);
     transform: translate3d(0,0,0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     max-height: inherit;
}
 .Navbar-dropdown ul li {
     margin: 0;
     padding: 0;
}
 .Navbar-dropdown ul li a {
     padding: 10px 0;
     display: block;
     font-size: 14px;
}
 .Navbar-dropdown ul li:first-child {
     margin-top: 10px;
}
 .Navbar-dropdown ul li:last-child {
     margin-bottom: -10px;
}
/* =============================================== Open State for Navigation Dropdowns =================================================*/
 .Navbar-dropdown.open .icon-arrow path {
     fill: #ffffff;
}
/* =============================================== Download button for mobile =================================================*/
 .Navbar-download {
     margin-top: 20px;
     font-family: 'supercell-magicregular',Arial,sans-serif;
     color: #fff;
     text-align: left;
     font-size: 9px;
     line-height: 9px;
}
 .Navbar-download a {
     margin-right:20px;
}
 .Navbar-download img {
     margin-top: 10px;
     width: 125px;
     height: auto;
}
 .Navbar-logo-outside.is-android {
     margin-left: -35px;
     top: 10px;
}
 .Navbar-logo-outside.is-android img {
     width: 70px;
}
/* =============================================== Active State for Navbar =================================================*/
 .Navbar--active .Navbar-scroller {
     position: absolute;
     overflow-x:hidden;
     overflow-y: auto;
     width: 100%;
     min-height: 1000px;
     min-height: 100vh;
     height: 100%;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     -webkit-backface-visibility:hidden;
     backface-visibility:hidden;
     z-index: 1000;
}
 .Navbar--active .Navbar-scroller.has-touch-scroll {
     overflow-y: scroll;
    /* has to be scroll, not auto */
     -webkit-overflow-scrolling: touch;
}
 .Navbar--active .Navbar-scroller.has-touch-scroll::-webkit-scrollbar {
     width: 0;
     height: 8px;
}
/* Track */
 .Navbar--active .Navbar-scroller.has-touch-scroll::-webkit-scrollbar-track {
     -webkit-box-shadow: none;
     border-radius: 0;
     border:0;
}
/* Handle */
 .Navbar--active .Navbar-scroller.has-touch-scroll::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: rgba(0,0,0,0);
     -webkit-box-shadow: none;
}
 .Navbar--active .Navbar-scroller.has-touch-scroll::-webkit-scrollbar-thumb:window-inactive {
     background: rgba(0,0,0,0);
}
 .Navbar--active .Navbar-backdrop {
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     width: 100%;
     -webkit-backface-visibility:hidden;
     backface-visibility:hidden;
     -webkit-animation-name: fade-in-right;
     animation-name: fade-in-right;
     -webkit-animation-duration: 430ms;
     animation-duration: 430ms;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-direction: normal;
     animation-direction: normal;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
     -webkit-animation-name: sneak-in-right;
     animation-name: sneak-in-right;
     -webkit-animation-duration: 430ms;
     animation-duration: 430ms;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-direction: normal;
     animation-direction: normal;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
}
 .Navbar--active .Navbar {
     position: relative;
     left: 0;
     padding-top: 60px;
     -webkit-animation-name: sneak-in-text-right;
     animation-name: sneak-in-text-right;
     -webkit-animation-duration: 700ms;
     animation-duration: 700ms;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-direction: normal;
     animation-direction: normal;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
}
 .Navbar--active .Navbar-logo.Navbar-logo-outside{
     position: absolute;
}
 .Navbar--active .Navbar-primarynav, .Navbar--active .Navbar-secondarynav, .Navbar--active .Navbar-download {
     -webkit-animation-name: fade-in-right;
     animation-name: fade-in-right;
     -webkit-animation-duration: 430ms;
     animation-duration: 430ms;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-direction: normal;
     animation-direction: normal;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
     -webkit-animation-name: sneak-in-right;
     animation-name: sneak-in-right;
     -webkit-animation-duration: 430ms;
     animation-duration: 430ms;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-direction: normal;
     animation-direction: normal;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
     -webkit-backface-visibility:hidden;
     backface-visibility:hidden;
}
 .Navbar--active .Navbar-download {
     margin-bottom: 50px;
}
 .Navbar--active .Navbar-overlay {
     display: none;
}
 .Navbar--active .Navbar-dropdown .icon-arrow path {
     fill: #ffffff;
}
 .Navbar--active .Navbar-dropdown ul {
     max-height:699px;
}
/* =============================================== Morphs Hamburger button to Close Button =================================================*/
 .Navbar--active .Navbar-hamburger-button {
     position: absolute;
     -webkit-transform: translate3D(0,8px,0);
     transform: translate3D(0,8px,0);
}
 .Navbar--active .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line1 {
     top: 8px;
     width: 0;
     left: 50%;
}
 .Navbar--active .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line2 {
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
}
 .Navbar--active .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line3 {
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
}
 .Navbar--active .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line.Navbar-hamburger-line4 {
     top: 8px;
     width: 0;
     left: 50%;
}
 .Navbar--active .Navbar-background {
     padding-top: 15px;
     position: static;
     display: block;
}
 .Navbar--active .Navbar-logo {
     margin-left: -50px;
}
 .Navbar--active .Navbar-logo img{
     width: 80px;
}
 .Navbar--active .Navbar-logo.Navbar-logo-outside{
     -webkit-animation-name: sneak-in-text-right;
     animation-name: sneak-in-text-right;
     -webkit-animation-duration: 700ms;
     animation-duration: 700ms;
     -webkit-animation-timing-function: linear;
     animation-timing-function: linear;
     -webkit-animation-direction: normal;
     animation-direction: normal;
     -webkit-animation-delay: 0s;
     animation-delay: 0s;
}
 .no-animations .Navbar-backdrop.animate-out {
     right: -100%;
     -webkit-animation-name: none !important;
     animation-name: none !important;
}
 .no-animations .Navbar-hamburger-button .Navbar-hamburger .Navbar-hamburger-line {
     transition:none !important;
}
 .no-touch .Navbar--active .Navbar-scroller::-webkit-scrollbar {
     width: 8px;
     height: 8px;
}
/* Track */
 .no-touch .Navbar--active .Navbar-scroller::-webkit-scrollbar-track {
     -webkit-box-shadow: none;
     border-radius: 0;
     border:0;
}
/* Handle */
 .no-touch .Navbar--active .Navbar-scroller::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: grey;
     -webkit-box-shadow: none;
}
 .no-touch .Navbar--active .Navbar-scroller::-webkit-scrollbar-thumb:window-inactive {
     background: rgba(0,0,0,0);
}
