html,body {
    background: transparent url('../resources/img/apps/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@media screen and (max-width: 767px) { /* Mobile */
  .page-normal {
    display:none;
  }

  .page-responsive {
    display:block;
  }
}

@media (min-width: 768px) { /* Desktop */
  .page-normal {
    display:block;
  }

  .page-responsive {
    display:none;
  }
}

