.menu-fixhidden {
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}
.modal-backdrop {
  background: rgba(0, 0, 0, 0.8);
}
.modal-content {
  border-radius: 0;
}
.nav-tabs {
  border-bottom: none;
}
.news_block .list-news li:before,
.news_block .list-news li:after {
  content: " ";
  display: table;
}
.news_block .list-news li:after {
  clear: both;
}
.inline {
  display: inline-block;
}
.inline-center ul {
  text-align: center;
}
.inline-center ul > li {
  display: inline-block;
}
img {
  max-width: 100%;
}
a:hover,
a:focus,
a:active {
  color: #333333;
  text-decoration: none;
  outline: none;
}
h2 {
  font-size: 16px;
  text-align: center;
}
.border {
  border: 1px solid #fff;
}
.page {
  background: transparent url('../resources/img/apps/bg.jpg') no-repeat top center;
  background-size: 100%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 992px) {
  .page {
    background: transparent url('../resources/img/apps/bg.jpg') no-repeat center 0px;
    background-size: 250%;
    overflow: hidden;
    position: relative;
  }
}
/*/* top and html header block */
.logo {
  float: none;
  z-index: 1;
  position: relative;
  width: 20%;
  margin: auto;
  padding-bottom: 0%;
  text-align: center;
}
.logo > a {
  display: block;
  text-align: center;
}
@media (min-width: 992px) {
  .logo {
    margin-top: -44px;
    display: none;
  }
}
.branding {
  text-align: center;
  text-transform: uppercase;
  color: #FFC411;
  background-color: #000;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
}
.branding a {
  color: #FFC411;
}
/* ANIMATED FRAME BANNER HOME 
-------------------------------------*/
.animation-frame {
  position: relative;
  padding-top: 40%;
}
.nv1 {
    background: rgba(0, 0, 0, 0) url("../resources/img/apps/nv1.png") no-repeat scroll 0 0 / 100% auto;
    left: 27%;
    padding-bottom: 70%;
    position: absolute;
    right: auto;
    text-align: left;
    top: 180px;
    width: 47%;
    z-index: 0;
}
.nv1 img {
  width: 100%;
}
@media (max-width: 992px) {
  .nv1 {
    top: 0px;
    left: 0%;
    z-index: 0;
    width: 75%;
  }
}
.nv2 {
  display: none !important;
  background: url('../resources/img/apps/cay-thong-qua.png')/*tpa=http://huyenthoainaruto.vn/customs_template/images/cay-thong-qua.png*/ no-repeat;
  background-size: 100%;
  position: absolute;
  left: 58%;
  right: -16%;
  top: 16%;
  padding-bottom: 150%;
}
.animation-frame {
  position: relative;
}
.slogan {
    left: 35%;
    margin-bottom: 3%;
    margin-left: 0;
    margin-top: 3%;
    padding: 0 2%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 46%;
    width: 30%;
}
.download-game {
  text-align: center;
  padding: 0 14%;
}
.download-game a {
  width: 100%;
}
.download-game a img {
  width: 100%;
}
@media (min-width: 992px) {
  .animation-frame {
    padding-bottom: 0%;
  }
}
@media (max-width: 992px) {
  margin-top: -60px;
}
/* Menu top */
.col-top {
  position: relative;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
}
.col-top .menu-top {
  z-index: 99999;
}
@media (max-width: 992px) {
  .col-top {
    z-index: 9999;
  }
}
@media (min-width: 992px) {
  .col-top {
    display: block;
  }
}
.animated-arrow span,
.animated-arrow span:before,
.animated-arrow span:after {
  background: #FFC424;
}
.menu-top > li > a,
.menu-top > li > span {
  font-size: 1.2em;
  color: #aeaeae;
  padding: 15px 30px;
}
.menu-top > li > a:hover,
.menu-top > li > a:focus,
.menu-top > li > a:active {
  color: #fff;
}
@media (max-width: 992px) {
  .menu-top {
    bottom: 0;
    z-index: 99999;
  }
  .menu-top > li > a,
  .menu-top > li > span {
    color: #fff;
  }
  .menu-top > li:nth-child(3) {
    display: none;
  }
}
@media (min-width: 992px) {
  .menu-top {
    background: transparent;
    text-align: center;
  }
  .menu-top > li {
    float: none;
    display: inline-block;
  }
  .menu-top > li > a,
  .menu-top > li > span {
    padding: 10px 35px;
    font-size: 1.4em;
    font-weight: bold;
  }
  .menu-top > li:nth-child(3) {
    background-color: transparent;
  }
  .menu-top > li:nth-child(3) a {
    background-color: transparent;
    background: transparent url('../resources/img/apps/logo.png')/*tpa=http://huyenthoainaruto.vn/customs_template/images/logo.png*/ no-repeat center 16px;
    text-indent: -9999px;
    min-width: 360px;
    height: 198px;
  }
}
/* GIFT CODE
----------------------*/
.giftcode_block img {
  width: 100%;
}
/* Gift code content */
.giftcode_block .wrapper {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 180%;
  margin: 0 auto;
  background: url('../resources/img/apps/bg-1.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/giftcode/bg.jpg*/ no-repeat top left, #03060d;
  background-size: 100%;
}
.giftcode_block .invite_txt {
  display: block;
  width: 248px;
  height: 100px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 440px;
  left: 274px;
  padding: 20px;
}
.giftcode_block .invite_txt span {
  color: yellow;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: normal;
}
.giftcode_block .wrapper .btn-getcode {
  display: block;
  width: 248px;
  height: 147px;
  background: url(../resources/img/apps/b2.png)/*tpa=http://huyenthoainaruto.vn/customs_template/images/giftcode/b2.png*/ no-repeat top left;
  border: none;
  left: 274px;
  position: absolute;
  top: 714px;
  text-indent: -9999px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}
.giftcode_block .wrapper .btn-send {
  display: block;
  width: 248px;
  height: 147px;
  background: url(../resources/img/apps/b1.png)/*tpa=http://huyenthoainaruto.vn/customs_template/images/giftcode/b1.png*/ no-repeat top left;
  border: none;
  left: 274px;
  position: absolute;
  top: 551px;
  text-indent: -9999px;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}
.giftcode_block .wrapper .btn-send:hover,
.giftcode_block .wrapper .btn-getcode:hover {
  box-shadow: 0px 2px 35px #6fd5ff;
  -webkit-box-shadow: 0px 2px 35px #6fd5ff;
  -ms-box-shadow: 0px 2px 35px #6fd5ff;
  -moz-box-shadow: 0px 2px 35px #6fd5ff;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}
.giftcode_block .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
}
@media (max-width: 992px) {
  .giftcode_block .invite_txt {
    display: block;
    float: none;
    width: 230px;
    top: auto;
    margin: auto;
    height: auto;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    position: relative;
    left: auto;
  }
  .giftcode_block .wrapper {
    padding-bottom: 50%;
  }
  .giftcode_block .wrapper:before {
    content: " ";
    display: block;
    position: relative;
    width: 100%;
    padding-top: 60%;
  }
  .giftcode_block .wrapper .btn-send,
  .giftcode_block .wrapper .btn-getcode {
    width: 230px;
    display: block;
    float: none;
    margin: auto;
    padding-bottom: 23%;
    height: auto;
    background: url(../resources/img/apps/b1.png)/*tpa=http://huyenthoainaruto.vn/customs_template/images/giftcode/b1.png*/ no-repeat top left;
    background-size: 100% 100%;
    border: none;
    left: auto;
    position: relative;
    top: auto;
    margin-top: 10px;
  }
}
.giftcode_block .invite_txt,
.giftcode_block .wrapper .btn-getcode,
.giftcode_block .wrapper .btn-send {
  display: none;
}
/* Download block */
.download_block {
  border: none;
  padding: 0;
  width: 100%;
  float: left;
  margin-left: 0%;
  position: relative;
  z-index: 0;
}
.download_blockdiv > a {
  border: none;
}
.download_block .dl {
  position: relative;
  padding-bottom: 19.95192308%;
  margin-top: 0%;
  margin-bottom: 0%;
}
.download_block .dl.ios {
  background: transparent url('../resources/img/apps/dl-ios.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-ios.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.download_block .dl.ios:hover,
.download_block .dl.ios:focus {
  background: transparent url('../resources/img/apps/dl-ios-hover.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-ios-hover.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.download_block .dl.ios.direct {
  background: transparent url('../resources/img/apps/dl-ios-dr.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-ios-dr.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.download_block .dl.ios.direct:hover,
.download_block .dl.ios.direct:focus {
  background: transparent url('../resources/img/apps/dl-ios-dr-hover.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-ios-dr-hover.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.download_block .dl.android {
  background: transparent url('../resources/img/apps/dl-android.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-android.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.download_block .dl.android:hover,
.download_block .dl.android:focus {
  background: transparent url('../resources/img/apps/dl-android-hover.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-android-hover.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.mhome-page .dl.android,
.m-page .dl.android {
  background: transparent url('dl-android-m.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-android-m.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.mhome-page .dl.android:hover,
.m-page .dl.android:hover,
.mhome-page .dl.android:focus,
.m-page .dl.android:focus {
  background: transparent url('dl-android-m-hover.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-android-m-hover.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.mhome-page .dl.android.direct,
.m-page .dl.android.direct {
  background: transparent url('dl-android-m-dr.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-android-m-dr.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.mhome-page .dl.android.direct:hover,
.m-page .dl.android.direct:hover,
.mhome-page .dl.android.direct:focus,
.m-page .dl.android.direct:focus {
  background: transparent url('dl-android-m-dr-hover.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl/dl-android-m-dr-hover.jpg*/ no-repeat top center;
  background-size: 100% 100%;
}
.download_block .three-items > a,
.download_block .items3 > a {
  width: 50%;
  border: none;
}
.three-items {
  position: relative;
}
a.dl.pc {
  display: none;
  background: transparent url('dl-pc.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl-pc.png*/ no-repeat;
  background-size: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding-bottom: 80%;
}
/* News Block */
.news_block:before,
.news_block:after {
  content: " ";
  display: table;
}
.news_block:after {
  clear: both;
}
.news_block .list-news li:before,
.news_block .list-news li:after {
  content: " ";
  display: table;
}
.news_block .list-news li:after {
  clear: both;
}
.title-block.floral {
  display: none;
}
.m-page .news_block .title-block.floral {
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  background: transparent;
}
.news_block .nav-tabs,
.news_block .breadcrumb-tab > ul {
  background: #990000 url('../resources/img/apps/bg-nav-tabs.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/bg-nav-tabs.jpg*/ repeat-x;
  border-bottom: 0px solid #cd0000;
}
.news_block .nav-tabs li a,
.news_block .breadcrumb-tab > ul li a,
.news_block .nav-tabs .floral a,
.news_block .breadcrumb-tab > ul .floral a {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.news_block .nav-tabs li,
.news_block .breadcrumb-tab > ul li,
.news_block .nav-tabs .floral,
.news_block .breadcrumb-tab > ul .floral,
.news_block .nav-tabs li.active,
.news_block .breadcrumb-tab > ul li.active,
.news_block .nav-tabs .floral.active,
.news_block .breadcrumb-tab > ul .floral.active,
.news_block .nav-tabs li a,
.news_block .breadcrumb-tab > ul li a,
.news_block .nav-tabs .floral a,
.news_block .breadcrumb-tab > ul .floral a,
.news_block .nav-tabs li.active a,
.news_block .breadcrumb-tab > ul li.active a,
.news_block .nav-tabs .floral.active a,
.news_block .breadcrumb-tab > ul .floral.active a {
  border: none;
}
.news_block .nav-tabs li:hover,
.news_block .breadcrumb-tab > ul li:hover,
.news_block .nav-tabs .floral:hover,
.news_block .breadcrumb-tab > ul .floral:hover,
.news_block .nav-tabs li.active:hover,
.news_block .breadcrumb-tab > ul li.active:hover,
.news_block .nav-tabs .floral.active:hover,
.news_block .breadcrumb-tab > ul .floral.active:hover,
.news_block .nav-tabs li a:hover,
.news_block .breadcrumb-tab > ul li a:hover,
.news_block .nav-tabs .floral a:hover,
.news_block .breadcrumb-tab > ul .floral a:hover,
.news_block .nav-tabs li.active a:hover,
.news_block .breadcrumb-tab > ul li.active a:hover,
.news_block .nav-tabs .floral.active a:hover,
.news_block .breadcrumb-tab > ul .floral.active a:hover,
.news_block .nav-tabs li:focus,
.news_block .breadcrumb-tab > ul li:focus,
.news_block .nav-tabs .floral:focus,
.news_block .breadcrumb-tab > ul .floral:focus,
.news_block .nav-tabs li.active:focus,
.news_block .breadcrumb-tab > ul li.active:focus,
.news_block .nav-tabs .floral.active:focus,
.news_block .breadcrumb-tab > ul .floral.active:focus,
.news_block .nav-tabs li a:focus,
.news_block .breadcrumb-tab > ul li a:focus,
.news_block .nav-tabs .floral a:focus,
.news_block .breadcrumb-tab > ul .floral a:focus,
.news_block .nav-tabs li.active a:focus,
.news_block .breadcrumb-tab > ul li.active a:focus,
.news_block .nav-tabs .floral.active a:focus,
.news_block .breadcrumb-tab > ul .floral.active a:focus,
.news_block .nav-tabs li:active,
.news_block .breadcrumb-tab > ul li:active,
.news_block .nav-tabs .floral:active,
.news_block .breadcrumb-tab > ul .floral:active,
.news_block .nav-tabs li.active:active,
.news_block .breadcrumb-tab > ul li.active:active,
.news_block .nav-tabs .floral.active:active,
.news_block .breadcrumb-tab > ul .floral.active:active,
.news_block .nav-tabs li a:active,
.news_block .breadcrumb-tab > ul li a:active,
.news_block .nav-tabs .floral a:active,
.news_block .breadcrumb-tab > ul .floral a:active,
.news_block .nav-tabs li.active a:active,
.news_block .breadcrumb-tab > ul li.active a:active,
.news_block .nav-tabs .floral.active a:active,
.news_block .breadcrumb-tab > ul .floral.active a:active {
  border: none;
  color: #000;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}
.news_block .nav-tabs li.active a,
.news_block .breadcrumb-tab > ul li.active a,
.news_block .nav-tabs .floral.active a,
.news_block .breadcrumb-tab > ul .floral.active a {
  background: transparent;
}
@media (min-width: 992px) {
  .news_block .nav-tabs li.floral,
  .news_block .breadcrumb-tab > ul li.floral,
  .news_block .nav-tabs .floral.floral,
  .news_block .breadcrumb-tab > ul .floral.floral {
    width: 33.333333%;
    width: 25%;
    text-align: center;
    background: transparent url('floral.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/floral.png*/ no-repeat right top;
    background-size: 100% 100%;
  }
  .news_block .nav-tabs li.floral.active,
  .news_block .breadcrumb-tab > ul li.floral.active,
  .news_block .nav-tabs .floral.floral.active,
  .news_block .breadcrumb-tab > ul .floral.floral.active {
    background: transparent url('floral-active.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/floral-active.png*/ no-repeat right top;
    background-size: 100% 100%;
  }
  .news_block .nav-tabs li.floral.active a,
  .news_block .breadcrumb-tab > ul li.floral.active a,
  .news_block .nav-tabs .floral.floral.active a,
  .news_block .breadcrumb-tab > ul .floral.floral.active a {
    color: #eaeaff;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
  }
}
/* mobile news block */
@media (max-width: 992px) {
  .m-page .download_block,
  .mhome-page .download_block {
    margin-bottom: 30px;
    width: 92%;
    margin-left: 4%;
  }
  .m-page .news_block .breadcrumb-tab > ul li a,
  .mhome-page .news_block .breadcrumb-tab > ul li a {
    display: block;
    padding: 10px 8px;
  }
  .m-page .news-item-title,
  .mhome-page .news-item-title {
    font-size: 1.2em;
  }
}
.m-page .img,
.mhome-page .img {
  max-width: 100%;
  height: auto !important;
}
/* Col - header*/
/* Col-main */
.col-main {
  position: relative;
}
.col-main .main-content #block-new {
  border-right: 1px solid #E4DED2;
}
.sidebar {
  position: relative;
}
@media (max-width: 992px) {
  .sidebar {
    width: 100%;
    float: left;
    padding-bottom: 15px;
  }
}
/* Main content */
@media (min-width: 992px) {
  .main-content,
  .col-footer .html {
    background-color: transparent;
    width: 100%;
    margin: auto;
  }
  .sidebar {
    display: block;
    float: right;
    width: 30%;
    margin-left: 0%;
    position: relative;
    z-index: 1;
  }
}
/*Download Block */
a.download_block {
  border: none;
  background: transparent url('dl-bg.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/dl-bg.png*/ no-repeat bottom center;
  background-size: 100%;
  width: 100%;
  display: block;
}
a.download_block img {
  width: 100%;
}
/* Quicklink block */
.quicklink_block {
  background-color: transparent;
  border: none;
  padding-left: 0px;
  padding-top: 0px;
}
.quicklink_block > div > a {
  padding-right: 0px;
  padding-bottom: 0px;
}
.quicklink_block > .items1 > a,
.quicklink_block > .items2 > a,
.quicklink_block > .items3 > a,
.quicklink_block > .items4 > a {
  width: 100%;
}
.banner_block {
  background-color: #040404;
  position: relative;
  z-index: 99;
  margin-top: 15%;
}
.owl-controls.clickable {
  margin-top: -26px;
  z-index: 1;
  position: relative;
}
/* Video trailerblock */
/* Trailer block */
#owl-videolist {
  display: none !important;
}
.trailer_block {
  width: 100%;
  float: none;
  margin-bottom: 5px;
}
.trailer_block {
  border: none;
}
.trailer_block .video-emb img,
.trailer_block .video-emb .icon-play-emb {
  opacity: 1;
}
.demo_trailer_block {
  position: relative;
}
@media (max-width: 992px) {
  .trailer_block {
    width: 100%;
    float: left;
  }
}
.top-main,
#block-new {
  float: left;
  width: 100%;
}
.top-main {
  margin-bottom: 2%;
  position: relative;
}
/* News block content */
.news_block {
  position: relative;
  background-color: #ede8df;
  margin-top: 0%;
}
.news_block .content-detail {
  padding: 0 15px;
}
@media (max-width: 992px) {
  .news_block {
    margin-top: 0%;
  }
}
.news_block .title-block.floral {
  display: none;
  text-align: center;
  background-color: #780B02;
  padding: 10px 0;
  margin-top: 0px;
}
.news_block .title-block.floral a {
  color: #FCEC00;
  text-shadow: 1px 0px 10px #fff;
}
@media (min-width: 480px) {
  .news_block .title-block.floral {
    padding-top: -5%;
  }
}
.news_block .nav.nav-tabs > li > a,
.news_block .breadcrumb-tab > ul > li > a {
  border-radius: 4px;
}
@media (max-width: 480px) {
  .news_block {
    float: left;
    width: 100%;
  }
  .news_block .breadcrumb-tab {
    position: relative;
    z-index: 1;
  }
}
@media (min-width: 480px) {
  .news_block {
    float: left;
    width: 100%;
    /* news_block -nav */
  }
  .news_block .nav.nav-tabs,
  .news_block .nav.nav-tabs,
  .news_block .breadcrumb-tab > ul {
    padding: 0 2%;
    z-index: 1;
    position: relative;
  }
}
.news_block .tab-content,
.news_block .content-detail {
  border: none;
  margin-top: -1px;
  padding: 15px;
}
.news_block .tab-content li:first-child,
.news_block .content-detail li:first-child {
  border-bottom: 1px solid #CEC7BA;
}
.news_block .tab-content li.news-item,
.news_block .content-detail li.news-item {
  border-bottom: 1px solid #CEC7BA;
  padding: 5px 0;
}
.news_block .tab-content .list-news li,
.news_block .content-detail .list-news li {
  border-bottom: 1px solid #CEC7BA;
}
.news_block .tab-content #itemContainer > li,
.news_block .content-detail #itemContainer > li {
  border-bottom: 1px solid #CEC7BA;
  margin-bottom: 15px;
}
.news_block .tab-content,
.news_block .content-detail,
.news_block .tab-content a,
.news_block .content-detail a {
  color: #333333;
  line-height: 18px;
}
.news_block .tab-content .datetime,
.news_block .content-detail .datetime {
  font-size: 11px;
  line-height: 18px;
  padding-top: 6px;
}
.news_block .tab-content a:hover,
.news_block .content-detail a:hover {
  color: #333333;
}
.news_block .tab-content .news-item-title .label,
.news_block .content-detail .news-item-title .label {
  background-color: #9F0E04;
  color: #fff;
  line-height: 16px;
}
.news_block .view-all {
  color: #fff !important;
  background-color: #771900;
  border-radius: 2px;
  padding: 5px 10px;
  margin-top: 15px;
  display: block;
  text-align: center;
}
.news_block.tab_block_wrapper > .tab-content {
  padding: 0;
}
#show_content,
#detail-block {
  position: relative;
  z-index: 2;
}
/* Pagination */
.pagination > li {
  float: left;
}
.pagination > li > a,
.pagination > li:first-child > a,
.pagination > li:last-child > a,
.pagination > li > span,
.pagination > li:first-child > span,
.pagination > li:last-child > span {
  border-radius: 4px;
  margin-right: 4px;
}
.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  border: 1px solid transparent;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #850014;
  border-color: #850014;
  color: #fff !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #850014;
  border-color: #850014;
  color: #fff !important;
}
.bottom-christmas {
  pointer-events: none;
}
.detail-content .content-detail {
  padding: 15px;
}
.content-detail .title-page {
  padding-top: 20px;
  margin-top: 0;
}
.relatived-news .title-module {
  margin: 20px -15px;
  margin-bottom: 0;
  padding: 15px;
  border-top: 4px solid #850014;
}
.relatived-news .list-news > li {
  padding: 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.relatived-news .news-item-title .label {
  background-color: #A79637;
  border-radius: 2px;
  color: #380035;
  margin-right: 10px;
}
/* .scroll_block */
.scroll_block {
  z-index: 100;
  border: none;
}
@media (max-width: 480px) {
  .scroll_block {
    display: none;
  }
}
@media (max-width: 768px) {
  .scroll_block {
    display: none;
  }
}
.scroll_block > a {
  display: none;
}
.scroll_block > ul > .sm-likebox,
.scroll_block > ul .invite {
  display: none;
}
.scroll_block > ul > li > a {
  max-width: 80px;
  display: block;
}
/* Col footer */
.col-footer .container {
  display: block;
  background: transparent url('col-footer-patten.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/col-footer-patten.jpg*/;
}
.footer {
  background-color: black;
  background-size: auto;
  padding-top: 15px;
  color: #ccc;
}
@media (min-width: 992px) {
  .col-main {
    padding-bottom: 15px;
  }
  .col-main > .container {
    position: relative;
  }
}
.hotline {
  font-size: 32px;
  margin-bottom: 60px;
  display: block;
}
@media (min-width: 992px) {
  .hotline {
    font-size: 32px;
    margin-bottom: 60px;
    display: block;
  }
}
@media (max-width: 992px) {
  .right-scroll {
    text-align: center;
  }
  .right-scroll [class$="item"] {
    display: inline-block;
    padding: 5px;
    max-width: 30%;
    margin-bottom: 15px;
  }
  .right-scroll .face_item {
    max-width: 100%;
    display: block;
  }
}
.ui-download .ui-download-row {
  text-align: center;
}
.ui-download .download-item {
  display: inline-block;
  margin-right: 15px;
}
.ui-download .download-item a {
  display: block;
}
.ui-download .download-item img {
  max-width: 48px;
}
.modal-dialog {
  margin-top: 60px;
}
/* HTML Block Hotline */
.sidebar-hotline {
  position: relative;
  z-index: 100;
  margin-bottom: 15px;
}
.sidebar-hotline a {
  display: block;
  text-align: center;
}
.sidebar-hotline a img {
  width: 100%;
  max-width: 328px;
}
@media (max-width: 992px) {
  .sidebar-hotline {
    margin-top: 15px;
    padding: 15px;
    background-color: rgba(237, 232, 223, 0.5);
  }
}
/* Pagination */
.pagination {
  margin: 0;
}
/* hero slidepush */
.slidepush_block > div > div {
  width: 12.55%;
  padding-bottom: 32.7%;
}
.slidepush_block > div > div.active {
  width: 62.3333%;
}
.slidepush_block img {
  width: auto;
  height: 100%;
  max-width: none;
}
.slidepush_block-wrapper {
  padding: 1% 1%;
  border: 2px solid #272C31;
  background: #06080d url('hero-patten.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/hero-patten.jpg*/;
  margin-top: 0px;
  position: relative;
  z-index: 1;
  float: left;
  width: 100%;
}
.slidepush_block-wrapper:before,
.slidepush_block-wrapper:after {
  content: " ";
  height: 48%;
  z-index: 99;
}
/* Block custummer block */
.gd {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf0310+0,910205+44,6d0019+100 */
  background: #bf0310;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmMDMxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzkxMDIwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bf0310), color-stop(44%, #910205), color-stop(100%, #6d0019));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf0310', endColorstr='#6d0019', GradientType=0);
  /* IE6-8 */
}
.customer_block {
  width: 100%;
  margin: auto;
  margin-bottom: 0;
  border: 1px solid #E27F7F;
  background-color: #C10D00;
  color: #fff;
  box-shadow: inset 0 0px 10px #E48787;
  padding: 15px 10%;
}
.customer_block .title {
  margin-top: 0;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.customer_block .title:before {
  content: " ";
  display: inline-block;
  background: transparent url('icon_support.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/icon_support.png*/ no-repeat;
  background-size: 100%;
  width: 35px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}
.customer_block > div {
  text-align: center;
  line-height: 30px;
  margin-bottom: 5px;
  box-shadow: inset 0 4px 6px rgba(255, 162, 162, 0.68);
  border-radius: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bf0310+0,910205+44,6d0019+100 */
  background: #bf0310;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmMDMxMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzkxMDIwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bf0310), color-stop(44%, #910205), color-stop(100%, #6d0019));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #bf0310 0%, #910205 44%, #6d0019 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf0310', endColorstr='#6d0019', GradientType=0);
  /* IE6-8 */
}
.customer_block > div a,
.customer_block > div span {
  display: inline-block;
  font-size: 1.4em;
  color: #fff;
  color: #D2CC68;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.31);
  font-weight: bold;
}
.customer_block > div a:hover {
  color: #ccc;
}
/* Mobile */
.mhome-page.page,
.m-page.page {
  background: transparent url('bg-m.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/bg-m.jpg*/ no-repeat center 39px;
  background-size: 120%;
}
.mhome-page.page .col-main,
.m-page.page .col-main {
  padding-top: 74%;
}
.mhome-page .nav-trigger,
.m-page .nav-trigger,
.mhome-page .menu-top-toggle,
.m-page .menu-top-toggle {
  left: auto;
  right: 0;
}
.mhome-page .banner_block,
.m-page .banner_block {
  margin-top: 0;
}
.mhome-page .footer,
.m-page .footer {
  float: left;
  width: 100%;
}
.mhome-page .khaosat-home,
.m-page .khaosat-home,
.mhome-page .khaosat-home p,
.m-page .khaosat-home p {
  font-size: 1em;
  line-height: 1.2em;
}
@media (max-width: 992px) {
  .download_block:before,
  .download_block:after {
    content: " ";
    display: table;
  }
  .download_block:after {
    clear: both;
  }
  .download_block > div > a {
    border: none;
  }
  .col-footer:before,
  .col-footer:after {
    content: " ";
    display: table;
  }
  .col-footer:after {
    clear: both;
  }
}
.mheader_block {
  margin-bottom: 15px;
}
.title-brand-info {
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.2em;
}
.m-page img {
  max-width: 100%;
  height: auto !important;
}
.m-page .m-detail .relatived-news,
.m-page .m-detail-content {
  padding: 15px;
}
.m-page .m-detail .relatived-news,
.m-page .m-detail-content,
.m-page .m-detail .relatived-news a,
.m-page .m-detail-content a {
  color: #333333;
}
.m-page .first-news {
  margin-top: 15px;
}
.m-page .relatived-news .news-item-title {
  font-size: 1em;
}
.m-page .relatived-news .news-item-title .label {
  line-height: 20px;
  font-size: 0.68em;
}
.m-page blockquote {
  font-size: 1em;
}
.m-page iframe {
  max-width: 100% !important;
  height: auto !important;
}
@media (max-width: 992px) {
  img {
    max-width: 100%;
    height: auto !important;
  }
}
/* HERO BLOCK */
.block_hero {
  float: left;
  width: 100%;
}
.block_hero:before,
.block_hero:after {
  content: " ";
  display: table;
}
.block_hero:after {
  clear: both;
}
.block_hero .h-title {
  font-size: 1.4em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.block_hero .h-content {
  float: left;
  width: 100%;
}
.block_hero .h-content img.thumb {
  float: left;
  max-width: 100%;
  border: 3px solid #fff;
  box-shadow: 0 0 4px #888;
  margin: 10px;
  margin-left: 0;
  margin-top: 0;
  vertical-align: top;
}
.block_hero .h-content p {
  display: inline;
  text-align: justify;
}
.block_hero .h-list {
  width: 100%;
  float: left;
  margin-top: 30px;
}
.block_hero .h-list:before,
.block_hero .h-list:after {
  content: " ";
  display: table;
}
.block_hero .h-list:after {
  clear: both;
}
.block_hero .h-list > ul {
  text-align: left;
}
.block_hero .h-list > ul > li {
  display: inline-block;
  text-align: center;
}
.block_hero .h-list > ul > li a {
  display: block;
  width: 80px ;
  height: 80px;
}
@media (min-width: 992px) {
  .block_hero .h-content img.thumb {
    max-width: 390px;
  }
}
/* Style heroblock */
.block_hero {
  position: relative;
  z-index: 1;
  padding: 15px;
  background: #EDE8DF;
}
.block_hero .h-list > ul > li {
  margin-right: 15px;
}
.block_hero .h-list > ul > li a {
  border-radius: 4px;
  overflow: hidden;
}
/* Tab block
---------------------*/
#tab_content img {
  width: 100%;
}
.news-item-title .label {
  border-radius: 2px;
  font-size: 11px;
  padding: 1px 4px;
  margin-right: 5px;
  vertical-align: middle;
}
.main-content .tab_block .nav > li,
.main-content .news_block .nav > li,
.main-content .tab_block .nav > li:first-child,
.main-content .news_block .nav > li:first-child,
.main-content .tab_block .nav > li.active,
.main-content .news_block .nav > li.active,
.main-content .tab_block .nav > li:hover,
.main-content .news_block .nav > li:hover,
.main-content .tab_block .nav > li:first-child:hover,
.main-content .news_block .nav > li:first-child:hover,
.main-content .tab_block .nav > li.active:hover,
.main-content .news_block .nav > li.active:hover,
.main-content .tab_block .nav > li:focus,
.main-content .news_block .nav > li:focus,
.main-content .tab_block .nav > li:first-child:focus,
.main-content .news_block .nav > li:first-child:focus,
.main-content .tab_block .nav > li.active:focus,
.main-content .news_block .nav > li.active:focus,
.main-content .tab_block .nav > li:active,
.main-content .news_block .nav > li:active,
.main-content .tab_block .nav > li:first-child:active,
.main-content .news_block .nav > li:first-child:active,
.main-content .tab_block .nav > li.active:active,
.main-content .news_block .nav > li.active:active {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.main-content .tab_block .nav > li:last-child,
.main-content .news_block .nav > li:last-child,
.main-content .tab_block .nav > li:last-child:hover,
.main-content .news_block .nav > li:last-child:hover,
.main-content .tab_block .nav > li:last-child:focus,
.main-content .news_block .nav > li:last-child:focus,
.main-content .tab_block .nav > li:last-child:active,
.main-content .news_block .nav > li:last-child:active {
  border-right: none;
}
.main-content .tab_block .nav,
.sidebar .tab_block .nav,
.main-content .news_block .nav,
.sidebar .news_block .nav {
  text-align: center;
}
.main-content .tab_block .nav > li,
.sidebar .tab_block .nav > li,
.main-content .news_block .nav > li,
.sidebar .news_block .nav > li {
  display: inline-block;
  float: none;
  font-size: 12px;
}
@media (min-width: 992px) {
  .main-content .tab_block .nav > li,
  .sidebar .tab_block .nav > li,
  .main-content .news_block .nav > li,
  .sidebar .news_block .nav > li {
    font-size: 16px;
  }
}
.sidebar .border-sidbar:before,
.sidebar .border-sidbar:after {
  content: " ";
  display: table;
}
.sidebar .border-sidbar:after {
  clear: both;
}
.sidebar .news_block.tab_block_wrapper {
  background: #fff;
}
@media (min-width: 992px) {
  .sidebar {
    padding: 0 5px;
  }
}
.subpage .main-content {
  float: none;
  margin: auto;
}
.subpage .sidebar {
  display: none;
}
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
.download_block > .three-items,
.download_block > .two-items {
  display: none;
}
.js_fly {
  background: url('../resources/img/apps/flw-1.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/flw.png*/ no-repeat;
  background-size: 100%;
  text-indent: -9999px;
}
.news_block .pagination li {
  border-bottom: none !important;
}
.main-content .news_block .nav.nav-tabs {
  padding: 0;
}
.main-content .news_block .nav.nav-tabs > li {
  float: left;
  background: url('../resources/img/apps/news-block-title1-1.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/news-block-title1.jpg*/ no-repeat;
  background-size: 100% 100%;
}
.main-content .news_block .nav.nav-tabs > li a {
  padding: 7px 15px;
}
.main-content .news_block .nav.nav-tabs > li.active {
  background: url('../resources/img/apps/news-block-title-1.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/news-block-title.jpg*/ no-repeat;
  background-size: 100% 100%;
}
.main-content .news_block .breadcrumb-tab .nav.nav-tabs {
  background: #E98903;
  padding-bottom: 2px;
}
.sidebar .news_block {
  padding-bottom: 105px;
}
.sidebar .news_block:after {
  content: " ";
  background: #ffffff url('border-sdebar-1.html')/*tpa=http://huyenthoainaruto.vn/customs_template/images/border-sdebar.jpg*/ no-repeat bottom right;
  height: 105px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}
.sidebar .news_block .nav.nav-tabs {
  padding: 0;
}
.sidebar .news_block .nav.nav-tabs > li,
.sidebar .news_block .nav.nav-tabs > li.active {
  width: 100%;
  background: url('../resources/img/apps/news-block-title-1.jpg')/*tpa=http://huyenthoainaruto.vn/customs_template/images/news-block-title.jpg*/ no-repeat;
  background-size: 100% 100%;
}
.sidebar .news_block .nav.nav-tabs > li a,
.sidebar .news_block .nav.nav-tabs > li.active a {
  padding: 7px 15px;
}

/*# sourceMappingURL=theme.css.map */