{% extends base_template %}

{% block content %}
<div class='row' style="margin-top:100px">
    <div class='div-center'>
        <img src="{{static('img/apps/error/404.jpg')}}"/>
    </div>
</div>
{% endblock %}

