<!DOCTYPE html>
<html>
<head>

    {% block title %}
    <title> {{SITE_NAME|title}}</title>
    {% endblock %}

    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{SITE_KEYWORDS}}"/>
    <meta name="description" content="{{SITE_DESCRIPTION}}"/>
    <meta name="robots" content="index,follow"/>

    <meta property="og:site_name" content="{{SITE_NAME}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{SITE_URL}}">
    <meta property="og:title" content="{{SITE_TITLE}}">
    <meta property="og:description" content="{{SITE_DESCRIPTION}}">
    {% endblock %}

    <link rel="icon" href="{{static('img/favicon.ico')}}" type="image/x-icon"/>

    {{load_css()|safe}}

    {% block header_css %}
    {% endblock %}

    {% block header_scripts %}
    {% endblock %}

</head>
<body>

{% block header %}
{% include ["sites/common/header.jinja.html"] ignore missing %}
{% endblock %}

{% block content %}

{% if request_message %}
    {{request_message}}
{% endif %}

<div id='alert_message' data-spy="affix" data-offset-top="48">
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class='message-content'></span>
</div>

<div id='main_section'>
    <div class="container">

        {% if SHOW_DOWNLOAD %}
        <div id="main_download">
            <div class="div-center">
                <div class="row">
                    <img id="download_icon" src="{{static('img/apps/body/download_icon.png')}}" >
                </div>

                <div class="row">

                    {% if APK_DOWNLOAD_LINK %}
                        <a href="{{APK_DOWNLOAD_LINK}}"  target="_blank" >
                            <img src="{{static('img/apps/download/apk.png')}}" alt="Apk Download" />
                        </a>
                    {% endif %}

                    {% if APK_LOW_DOWNLOAD_LINK %}
                        <a href="{{APK_LOW_DOWNLOAD_LINK}}"  target="_blank" >
                            <img src="{{static('img/apps/download/apk_low.png')}}" alt="App Store Download" />
                        </a>
                    {% endif %}

                    {% if CH_PLAY_DOWNLOAD_LINK %}
                        <a href="{{CH_PLAY_DOWNLOAD_LINK}}"  target="_blank" >
                            <img src="{{static('img/apps/download/chplay.png')}}" alt="App Store Download" />
                        </a>
                    {% endif %}

                    {% if IOS_DOWNLOAD_LINK %}
                        <a href="{{IOS_DOWNLOAD_LINK}}"  target="_blank" >
                            <img src="{{static('img/apps/download/ios.png')}}" alt="App Store Download" />
                        </a>
                    {% endif %}

                    {% if WINDOW_DOWNLOAD_LINK %}
                        <a href="{{WINDOW_DOWNLOAD_LINK}}"  target="_blank" >
                            <img src="{{static('img/apps/download/window.png')}}" alt="App Store Download" />
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endif %}

        <div id="main_nav" >
            {% block main_nav %}
            <div class="row">
                <a href="/" class="col floral active">
                    Giới thiệu
                </a>
                <a href="{{url('login')}}" class="col floral">
                    Tài khoản
                </a>
                <a href="{{url('payment_charge')}}" class="col floral">
                    Nạp tiền
                </a>
                <a href="{{FANPAGE_URL}}" target="_blank" class="col floral">
                    Diễn đàn
                </a>
            </div>
            {% endblock %}
        </div>

        <div  id="main_content" class="row">
            {% block main_content %}
            {% endblock %}
        </div>
    </div>

</div>

{% endblock %}

{% block footer %}
{% include ["sites/common/footer.jinja.html"] ignore missing %}
{% endblock %}

<div id='modal_section'>
    {% block modal %}
    {% endblock %}
</div>

<div id="hidden_section">
    {% if user_login %}
        <input type='hidden' id='is_user_login' value="True">
        <input type='hidden' id='user_login_id' value='{{user_login.account_id}}'>
    {% else %}
        <input type='hidden' id='is_user_login' value='False'>
    {% endif %}

    <input type='hidden' id="page_type" value="{{page_type}}"/>
    <input type='hidden' id='static_url' value="{{STATIC_URL}}"/>

    {% block hidden %}
    {% endblock %}

</div>


{% block footer_script %}

<script src='https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.min.js'></script>

{% block footer_plugin_scripts %}{% endblock %}

{% block footer_external_scripts %} {% endblock %}

{{load_js()|safe}}

{% block footer_custom_scripts %} {% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90863424-1', 'auto');
  ga('send', 'pageview');

</script>

{% endblock %}

</body>
</html>
