{% extends app_base_template %}

{% block main_content %}

<div class='form-section container'>
	<div class="panel panel-default">
		<div class="panel-heading align-center">
			<h4>Nạp tiền</h4>
		</div>
		<div class="panel-body">
			<form action="{{url('payment_charge')}}" method="post" id="payment_form">{% csrf_token %}

				{% if errors %}
					<ul class='errorlist'>
						{% for error in errors %}
							<li>{{ error }}</li>
						{% endfor %}
					</ul>
				{% endif %}

				<div class="form-group">
					<p>Chọn phương thức thanh toán</p>
					{% if payment_methods %}
						<div>
							<select id="payment_method_select" name="payment_method" class="form-control">
								<option value="" selected>----</option>
								{% for payment_method in payment_methods %}
									<option value="{{payment_method.typeKey}}-{{payment_method.group}}">{{payment_method.name}}</option>
								{% endfor %}
							</select>
						</div>
					{% endif %}
				</div>

				<div id="select_amount_section" class="form-group hidden">
					<p>Mệnh giá</p>
					<div id="amount_content"></div>
				</div>

				<div id="cash_section" class="payment-section form-group hidden">
					<label for="card-element">
						Hướng dẫn:
					</label>
					<div>
						Sau khi click nạp tiền. Một email sẽ được gửi đến địa chỉ của bạn với mã code.
						Gửi tiền vô tài khoản momo số điện thoại {{MOMO_PHONE_NUMBER}} cùng với số mã đó để hoàn tất nạp tiền.
					</div>
				</div>

				<div id="credit_card_section" class="payment-section form-group hidden">
					<label for="card-element">
						Nhập thông tin thẻ tín dụng
					</label>
					<div id="card-element"></div>
					<div id="card-errors" role="alert"></div>
				</div>

				<div id="mobile_card_section" class="payment-section form-group hidden">
					<label>
						Nhập thông tin thẻ cào
					</label>
					<div class="form-group">
						<select class="form-control">
							<option value="VTT">Viettel</option>
						</select>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="serial" placeholder="Serial"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" name="pin" placeholder="Pin"/>
					</div>
				</div>

				<div class="form-group">
					<button id="make_payment_btn" type="submit" class="btn btn-primary btn-block" disabled="disabled">Nạp tiền</button>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script type="text/javascript">

	function stripeTokenHandler(token) {
		// Insert the token ID into the form so it gets submitted to the server
		var form = document.getElementById('payment_form');
		var hiddenInput = document.createElement('input');
		hiddenInput.setAttribute('type', 'hidden');
		hiddenInput.setAttribute('name', 'stripeToken');
		hiddenInput.setAttribute('value', token.id);
		form.appendChild(hiddenInput);

		// Submit the form
		form.submit();
	}

	// Create a Stripe client.
	var stripe = Stripe('{{STRIPE_API_PUBLIC_KEY}}');

	// Create an instance of Elements.
	var elements = stripe.elements();

	// Custom styling can be passed to options when creating an Element.
	// (Note that this demo uses a wider set of styles than the guide below.)
	var style = {
	  	base: {
			color: '#32325d',
			lineHeight: '18px',
			fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
			fontSmoothing: 'antialiased',
			fontSize: '16px',
			'::placeholder': {
			  	color: '#aab7c4'
			}
	  	},
		invalid: {
			color: '#fa755a',
			iconColor: '#fa755a'
		}
	};

	// Create an instance of the card Element.
	var card = elements.create('card', {style: style});

	// Add an instance of the card Element into the `card-element` <div>.
	card.mount('#card-element');

	// Handle real-time validation errors from the card Element.
	card.addEventListener('change', function(event) {
	  	var displayError = document.getElementById('card-errors');
	  	if (event.error) {
			displayError.textContent = event.error.message;
	  	} else {
			displayError.textContent = '';
	  	}
	});

	// Handle form submission.
	var form = document.getElementById('payment_form');
	form.addEventListener('submit', function(event) {
	  	event.preventDefault();

		var paymentMethod = document.getElementById("payment_method_select").value;
		if (paymentMethod.length > 0) {
			showAjaxLoadingIcon();
			var methodGroup = paymentMethod.split("-")[1];
			if (methodGroup == 'CREDIT_CARD') {
				stripe.createToken(card).then(function(result) {
					if (result.error) {
					  // Inform the user if there was an error.
					  var errorElement = document.getElementById('card-errors');
					  errorElement.textContent = result.error.message;
					  hideAjaxLoadingIcon();
					} else {
					  // Send the token to your server.
					  stripeTokenHandler(result.token);
					}
				});
			} else {
				form.submit();
			}
	  	}
	});

</script>

{% endblock %}