<a href="" target="_blank" >
    <img src="{{static('img/apps/download/apk.png')}}" alt="App Store Download" />
</a>
<a href="" target="_blank" >
    <img src="{{static('img/apps/download/chplay.png')}}" alt="App Store Download" />
</a>
<a href="" target="_blank" >
    <img src="{{static('img/apps/download/ios.png')}}" alt="App Store Download" />
</a>
<a href="" target="_blank" >
    <img src="{{static('img/apps/download/window.png')}}" alt="App Store Download" />
</a>