<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="content">
                <div class="text-center">
                    <div class="logo-footer">
                        <img src="{{static('img/apps/body/logo-destiny.png')}}" width="10%" height="10%">
                    </div>
                    <div>Bản quyền thuộc về Sakura Mobile 2018</div>
                    <div><a href="mailto:sakura.mobile.help@gmail.com">Liên hệ</a> - <a href="{{url('term')}}">Điều khoản sử dụng</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>