<!-- header start -->
<header class="Header js-header">
    <div class='Header-bg'></div>

    <div class="Navbar-holder">
        <div class='Navbar-backdrop'></div>
        <div class='Navbar-scroller'>
            <div class="Navbar-FixedElements Navbar-wrapper">
                <a href="/" class="Navbar-logo Navbar-logo-outside js-click" title="Home" data-category="Header" data-label="Logo">
                    <img src="{{static('img/apps/logo-new.png')}}">
                </a>
            </div>
        </div>
    </div>

</header>
<!-- header end -->