#password_reset_info_session {
    margin:30px auto;
    text-align: center;
}

#forgot_password_link {
	font-size:12px;
}

.password-section label.error {
	margin-top: 6px;
}

#account_section {
    padding:40px;
}

#account_section .sidenav-list .sidenav-item {
    display: block;
    padding: 6px 0;
    font-size: 16px;
    color: #767676;
}

#account_section .sidenav-list .sidenav-item.active {
    color: #484848;
    font-weight: bold;
}

#account_section #code_section {
    padding-top:20px;
    padding-bottom:20px;
}