{% extends base_template %}

{% block main_content %}

<div class="container">
    <div id="intro_section">
        <div class="picture">
            <img src="{{static('img/apps/body/intro_bg.png')}}" />
        </div>
        <div class="content">
            <p>
                Huyền thoại cuối cùng là một Trò Chơi Trực Tuyến với cốt truyện xoay quanh bộ truyện tranh Naruto. Người chơi sẽ hóa thân thành một trong những ninja anh hùng trong bộ truyện Naruto. Hãy cùng luyện tập với Kakashi, Sasuke, chiến đấu với Akatsuki, biến thành vĩ thú và trở thành huyền thoại cuối cùng trong thế giới ninja vĩ đại.<br />
                Đặc điểm nổi bật:<br />
                - Thể loại hành động, nhập vai. Trực tiếp điều khiển nhân vật hành động. Dễ chơi, dễ điều khiển nhân vật. Đồ họa sắc nét.<br />
                - Cốt truyện bám sát nguyên tác. Các nhiệm vụ độc đáo và có nhiệm vụ hàng ngày. Người chơi sẽ gặp tất cả nhân vật từ Naruto, Sasuke, Kakashi đến Orochimaru, Madara..<br />
                - Đặc điểm nổi bật nhất: Tham gia những mini game mô phỏng cách chơi của những game hot nhất hiện giờ như chế độ sinh tồn. Tham gia đánh boss để biến thành jinchuuriki. Tham gia tiêu diệt Akatsuki<br />
                - Tương thích tất cả các dòng máy trên thị trường hiện nay: Máy tính PC, Điện thoại di động Nokia Java, Android, iPhone, Windows Phone, và máy tính bảng Android, iPad.
            </p>
        </div>
    </div>
    <div id="help_section">
        <div class="content">
            <h3>Hướng dẫn tân thủ</h3>
            <hr />
            <div style="font-size: 1em">
                <p>K&iacute;nh ch&agrave;o c&aacute;c ninja sau đ&acirc;y l&agrave; một số điều m&agrave; c&aacute;c t&acirc;n thủ cần biết trước khi trở th&agrave;nh một ninja ch&iacute;nh hiệu.</p>

                <b>1. Chỉ số:</b>

                <p>Tổng quan về chỉ s&ocirc; của nh&acirc;n vật trong game:</p>

                <p>Khai M&ocirc;n :HP<br /> Hưu M&ocirc;n : Tấn C&ocirc;ng Vật l&yacute;<br /> Sinh M&ocirc;n : Tấn C&ocirc;ng Ph&eacute;p<br /> Đỗ M&ocirc;n : Ph&ograve;ng thủ vật l&yacute;<br /> Cảnh M&ocirc;n : Ph&ograve;ng thử ph&eacute;p<br /> Thương M&ocirc;n
                    + Bạo K&iacute;ch<br /> Kinh M&ocirc;n : Tốc Đ&aacute;nh (giảm count down của skill)<br /> Tử M&ocirc;n : Chakra hay MP</p>

                <p>&Yacute; nghĩ của c&aacute;c chỉ số của nh&acirc;n vật thay đổi chỉ số bằng c&aacute;ch d&ugrave;ng điểm thưởng tiềm năng mỗi lần l&ecirc;n level để cộng chỉ số v&agrave; trang bị item hỗ trợ.</p>


                <b>2. Quốc gia:</b>

                <p>The Last Legend c&oacute; 5 quốc gia đ&uacute;ng như phi&ecirc;n bản truyện tranh naruto. Mỗi quốc gia sẽ gắng liền với hệ nguy&ecirc;n tố v&agrave; nh&acirc;n vật đ&oacute; mang.</p>

                <b>3. Nhân vật:</b>

                <p>The Last Legend c&oacute; 3 nh&oacute;m nh&acirc;n vật : Thể Thuật, Ảo Thuật, Nhẫn Thuật.</p>

                &nbsp;&nbsp;&nbsp;&nbsp;<b>a. Thể Thuật:</b>

                <p>Thể thuật c&oacute; thể chia ra 2 loại: Ninja Cận chiến v&agrave; ninja Trị thương</p>

                <p>
                    Ninja Cận Chiến:<br/>
                    - Chủ yếu Ninja n&agrave;y l&agrave; đ&aacute;nh cận chiến đ&aacute;nh gần v&agrave; s&aacute;t thương đơn lẻ phạm vi hẹp.<br/>
                    - Ưu điểm: Chỉ số của Ninja cận chiến hay trị thương đặt th&ugrave; l&agrave; c&oacute; sức mạnh vật l&yacute; lớn v&agrave; lượng HP đủ để đi đầu trong việc giao tranh.<br/>
                    - Khuy&ecirc;t điểm: Phạm vi tấn c&ocirc;ng hẹp. Charka thấp việc giao tranh về l&acirc;u d&agrave;i gặp kh&oacute; khăn nếu chuẩn bị kh&ocirc;ng tốt.<br/>
                    - Điển h&igrave;nh cho class nh&acirc;n vật n&agrave;y ch&uacute;ng ta c&oacute; thể nghĩ ngay đến Kay hay Rock Lee trong truyện Naruto.
                </p>

                <p>
                    Ninja Trị thương:<br/>
                    - Trực tiếp trị thương buff HP v&agrave; Chakra cho to&agrave;n đội tạo sức mạnh ph&ograve;ng thủ v&agrave; hỗ trợ Tấn c&ocirc;ng to&agrave;n diện cho cả Team.<br/>
                    - Ưu điểm: c&oacute; thể Buff&nbsp; HP v&agrave; Charka cho to&agrave;n đội hạn chế s&aacute;t thương g&acirc;y l&ecirc;n cho đồng đội từ qu&aacute;i hay kẻ th&ugrave;.<br/>
                    - Khuyết điểm: Để triển khai trị thương v&agrave; hỗ trợ ti&ecirc;u h&agrave;o nh&igrave;u chakra để support tốt th&igrave; người ph&aacute;t triển hướng đi class nh&acirc;n vật n&agrave;y cần t&iacute;nh to&aacute;n hợp l&yacute;.<br/>
                    - Điển h&igrave;nh cho class n&agrave;y ch&uacute;ng ta c&oacute; thể nghĩ ngay đến Sakura&hellip;&hellip;
                </p>

                &nbsp;&nbsp;&nbsp;&nbsp;<b>b. Ảo Thuật:</b>

                <p>
                    Ảo thuật l&agrave; một class nhận được sức mạnh khủng khiếp từ sức tấn c&ocirc;ng Ph&eacute;p v&agrave; sharingan của gia tộc uchiha tạo n&ecirc;n một sự mạnh mẽ v&agrave; sức hủy duyệt khủng khiếp. Nhưng đ&oacute; l&agrave; ưu điểm thế c&ograve;n
                    nhược điểm th&igrave; nh&acirc;n vật thuộc hệ n&agrave;y. Sở hữu một chỉ số MP v&agrave; Chakra kh&ocirc;ng qu&aacute; mạnh mẽ. Nhưng những yếu điểm n&agrave;y ho&agrave;ng to&agrave;n được khắc phục nếu người chơi c&oacute; hướng đi một
                    c&aacute;ch hợp l&yacute; th&igrave; Ảo Thuật sẽ c&oacute; ưu thế mạnh về s&aacute;t thương tr&ecirc;n diện r&ocirc;ng.<br/>
                    Nh&acirc;n vật ti&ecirc;u biểu class n&agrave;y ch&uacute;ng ta c&oacute; thể nghĩ ngay đến Uchiha Sasuke, Oruchimaru hay Itachi&hellip;..
                </p>

                &nbsp;&nbsp;&nbsp;&nbsp;<b>c. Nhẫn Thuật:</b>

                <p>Đ&acirc;y l&agrave; một class nh&acirc;n vật với sự dung h&ograve;a từ sức tấn c&ocirc;ng Vật L&yacute;
                    v&agrave; Ph&eacute;p thuật nhưng với thời gian khai triển chi&ecirc;u thức nhanh v&agrave; thời gian phục hồi ngắn lượng chakra dồi giầu th&igrave; class nh&acirc;n vật n&agrave;y&nbsp;</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
