{% extends base_template %}

{% block main_nav %}
<div class="row">
    <a href="/" class="col floral" id="intro_section">
        Giới thiệu
    </a>
    <a href="{{url('login')}}" class="col floral active" id="account_section">
        Tài khoản
    </a>
    <a href="{{url('payment_charge')}}" class="col floral" id="payment_section">
        Nạp tiền
    </a>
    <a href="{{FANPAGE_URL}}" target="_blank" class="col floral">
        Diễn đàn
    </a>
</div>
{% endblock %}