{% for rate in exchange_rates %}
    <div>
        {% if payment_method and payment_method.group != 'MOBILE_CARD' %}
            <input type="radio"  name="amount" value="{{rate.realMoneyAmount}}-{{rate.realMoneyUnit}}">
        {% endif %}
        <label class="mini-margin-left">{{rate.display}}</label>
    </div>
{% endfor %}